<server description="new server">

    <!-- Enable features -->
    <featureManager>
        <feature>jsp-2.2</feature>
        <feature>rtcomm-1.0</feature>
        <feature>ssl-1.0 </feature>
        <feature>appSecurity-2.0</feature>
	     <feature>localConnector-1.0</feature>
    </featureManager>
    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <httpEndpoint host="*" httpPort="9080" httpsPort="9443" id="defaultHttpEndpoint"/>

    <rtcomm messageServerHost='messagesight.demos.ibm.com' rtcommTopicPath="/rtcommHealthCare/" sharedSubscriptionPath="$SharedSubscriptions/rtcommHealthCare" sharedSubscriptionsEnabled="true">
      <iceServerURL>stun:stun.l.google.com:19302</iceServerURL>
      <iceServerURL>stun:stun1.l.google.com:19302</iceServerURL>
      <iceServerURL>stun:stun2.l.google.com:19302</iceServerURL>

   	  <callQueue description="Healthcasre Doctors" signalingTopicName="DoctorsQueueSignaling" topicName="Doctors" callQueueID="Healthcare Doctors"/>
      <callQueue callQueueID="Healthcare Agents" signalingTopicName="AgentsQueueSignaling" topicName="AgentsQueue" description="Agents Queue "></callQueue>
    </rtcomm>

    <logging traceSpecification="*=info:com.ibm.ws.rtcomm.*=all"/>

    <basicRegistry realm="HealthRealm">
    	<group name="Doctors">
    		<member name="doctor1@ibmhealth.com"/>
    		<member name="doctor2@ibmhealth.com"/>
    	</group>
    	<group name="Patients">
    		<member name="patient1@somecompany.com"/>
    		<member name="patient2@somecompany.com"/>
    		<member name="agent1@ibmhealth.com"/>
    		<member name="agent2@ibmhealth.com"/>
    	</group>
    	<group name="Agents">
    		<member name="agent1@ibmhealth.com"/>
    		<member name="agent2@ibmhealth.com"/>
    	</group>
    	<user name="patient1@somecompany.com" password="{xor}Lz4sLCgwLTs="/>
    	<user name="patient2@somecompany.com" password="{xor}Lz4sLCgwLTs="/>
    	<user name="agent1@ibmhealth.com" password="{xor}Lz4sLCgwLTs="/>
    	<user name="agent2@ibmhealth.com" password="{xor}Lz4sLCgwLTs="/>
    	<user name="doctor1@ibmhealth.com" password="{xor}Lz4sLCgwLTs="/>
    	<user name="doctor2@ibmhealth.com" password="{xor}Lz4sLCgwLTs="/>
    </basicRegistry>

    <applicationMonitor updateTrigger="mbean"/>

    <webApplication id="sample.rtcomm.healthcare"
    	location="sample.rtcomm.healthcare.war"
    	name="sample.rtcomm.healthcare">
    	<application-bnd>
    		<security-role name="agent">
    			<group name="Agents"></group>
    		</security-role>
    		<security-role name="patient">
    			<group name="Patients"></group>
    		</security-role>
    		<security-role name="doctor">
    			<group name="Doctors"></group>
    		</security-role>
    	</application-bnd>
    </webApplication>
  </server>
