		
.video-panel {
    display: block;
    height: 0;
    padding-bottom: 75%;
    overflow: hidden;
}

.animate-if {
  background:white;
}

.animate-if.ng-enter, .animate-if.ng-leave {
  transition: .5s linear all;
  -webkit-transition: .5s linear all;
  -moz-transition: .5s linear all;
  -o-transition: .5s linear all;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:1;
}

